<template>
  <div>
    <v-menu v-if="!oneButtonOnly" right offset-x>
      <template #activator="{ on, attrs }">
        <x-btn small text v-bind="attrs" v-on="on">
          <v-icon small color="purple"> fa-cogs </v-icon>
        </x-btn>
      </template>
      <v-list elevation="0" tile dense>
        <v-list-item v-if="!hideSaveButton" @click="emitSaveItem(item)">
          <v-list-item-content>
            <v-list-item-title>
              <v-icon small> fa-save </v-icon>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-if="!hideEditButton" @click="emitEditItem(item)">
          <v-list-item-content>
            <v-list-item-title>
              <v-icon small> fa-pencil-alt </v-icon>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          v-if="!hideDeleteButton"
          @click="selectItemForDeletion(item)"
        >
          <v-list-item-content>
            <v-list-item-title>
              <v-icon small> fa-trash </v-icon>
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-menu>
    <template v-else>
      <v-icon
        v-if="!hideSaveButton"
        color="purple"
        small
        @click="emitSaveItem(item)"
      >
        fa-save
      </v-icon>
      <v-icon
        v-if="!hideEditButton"
        color="purple"
        small
        @click="emitEditItem(item)"
      >
        fa-pencil-alt
      </v-icon>
      <v-icon
        v-if="!hideDeleteButton"
        color="purple"
        small
        @click="selectItemForDeletion(item)"
      >
        fa-trash
      </v-icon>
    </template>
  </div>
</template>

<script>
import XBtn from '../XBtn'
export default {
  name: 'XDataTableActionHelper',
  components: { XBtn },
  props: {
    item: {
      type: [Object, String, Number],
      required: true,
      default: null,
    },
    hideDeleteButton: {
      type: Boolean,
      default: false,
    },
    hideEditButton: {
      type: Boolean,
      default: false,
    },
    hideSaveButton: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    oneButtonOnly() {
      const visibleBtns = [
        !this.hideDeleteButton,
        !this.hideEditButton,
        !this.hideSaveButton,
      ]
      return visibleBtns.filter((v) => v === true).length === 1
    },
  },
  methods: {
    emitSaveItem(item) {
      this.$emit('click-save', item)
    },
    emitEditItem(item) {
      this.$emit('click-edit', item)
    },
    selectItemForDeletion(item) {
      this.$emit('select-item-for-deletion', item)
    },
  },
}
</script>
