<template>
  <span>
    <template v-if="format === 'editable_date'">
      <x-date-time-picker v-model="model" :time="false" />
    </template>
    <template v-if="format === 'editable_datetime'">
      <x-date-time-picker v-model="model" />
    </template>
    <template v-if="format === 'editable_text'">
      <x-pop-up-editor v-model="model" />
    </template>
    <template v-if="format === 'editable_textarea'">
      <x-pop-up-editor v-model="model" text-area />
    </template>
    <template v-if="format === 'editable_money'">
      <x-pop-up-editor v-model="model">
        {{ moneyFormat(model) }}
      </x-pop-up-editor>
    </template>
    <template v-if="format === 'money'">
      {{ moneyFormat(model) }}
    </template>
    <template v-if="format === 'yes_or_no'">
      {{ model ? 'Ja' : 'Nej' }}
    </template>
  </span>
</template>

<script>
import XPopUpEditor from '../XPopUpEditor'
import XDateTimePicker from '../XDateTimePicker'
import { moneyFormatMixin } from '../../helpers'
export default {
  name: 'XDataTableFormatter',
  components: { XDateTimePicker, XPopUpEditor },
  mixins: [moneyFormatMixin],
  props: {
    format: {
      default: null,
      type: String,
    },
    value: {
      default: null,
      validator: (v) => true,
    },
  },
  data() {
    return {
      model: this.value,
    }
  },
  watch: {
    model(newVal) {
      this.$emit('input', newVal)
    },
  },
}
</script>
