<template>
  <v-alert v-bind="$props" tile v-on="$listeners">
    <slot />
  </v-alert>
</template>

<script>
// import { VAlert } from 'vuetify/lib/components/VAlert'
export default {
  name: 'XAlert',
  props: {
    closeLabel: {
      type: String,
      default: '$vuetify.close',
    },
    coloredBorder: Boolean,
    dense: Boolean,
    color: {
      type: String,
      default: '',
    },
    dismissible: Boolean,
    closeIcon: {
      type: String,
      default: '$cancel',
    },
    outlined: Boolean,
    prominent: Boolean,
    text: Boolean,
    type: {
      type: String,
      default: '',
      validator(val) {
        return ['info', 'error', 'success', 'warning'].includes(val)
      },
    },
    value: {
      type: Boolean,
      default: true,
    },
  },
}
</script>
