<template>
  <v-btn v-bind="$props" tile depressed :dark="shouldBeDark" v-on="$listeners">
    <v-icon v-if="prependIcon" left>
      {{ prependIcon }}
    </v-icon>
    <slot v-if="$slots.default && !label" name="default" />
    <template v-if="label && !$slots.default">
      {{ label }}
    </template>
  </v-btn>
</template>

<script>
import { VBtn } from 'vuetify/lib/components/VBtn'

export default {
  name: 'XBtn',
  props: {
    prependIcon: {
      type: String,
      default: null,
    },
    ...VBtn.options.props,
    // override default options for some props
    plain: {
      default: false,
      type: Boolean,
    },
    color: {
      default: 'purple lighten-5 purple--text text--lighten-2',
      type: String,
    },
    classOverride: {
      default: '',
      type: String,
    },
    label: {
      type: String,
      default: '',
    },
  },
  computed: {
    shouldBeDark() {
      if (this.$vuetify.theme.dark) {
        return true
      }
      return !this.disabled
    },
    activeCls() {
      if (this.classOverride) {
        return this.classOverride
      }
      if (this.color) {
        return ''
      }
      // default dis bis
      return 'purple lighten-5 purple--text'
    },
  },
}
</script>
