<template>
  <x-btn
    :loading="okTimeout"
    v-bind="$props"
    prepend-icon="fa-sync"
    color="info"
    @click="click"
  >
    {{ $t('swag_update') }}
  </x-btn>
</template>

<script>
import { VBtn } from 'vuetify/lib/components/VBtn'
import XBtn from './XBtn'

export default {
  name: 'XBtnRefresh',
  components: { XBtn },
  props: {
    ...VBtn.options.props,
    text: {
      type: Boolean,
      default: true,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      okTimeout: false,
    }
  },
  methods: {
    click(handler) {
      this.okTimeout = true
      this.$emit('click', handler)
      setTimeout(() => {
        this.okTimeout = false
      }, 1000)
    },
  },
}
</script>
