<template>
  <x-btn
    prepend-icon="fa-external-link-alt"
    v-bind="$props"
    :label="label"
    v-on="$listeners"
    @click="click"
  >
    <slot v-if="$slots.default && !label" name="default" />
  </x-btn>
</template>

<script>
import { VBtn } from 'vuetify/lib/components/VBtn'
import XBtn from './XBtn'

export default {
  name: 'XBtnOpenModal',
  components: { XBtn },
  props: {
    ...VBtn.options.props,
    text: {
      type: Boolean,
      default: false,
    },
    block: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    value: {
      type: Boolean,
      default: false,
      required: false, // TODO Denna skall vara required om man inte har providat @click
    },
    label: {
      type: String,
      default: null,
    },
  },
  data() {
    return {
      model: false,
    }
  },
  methods: {
    click() {
      this.$emit('input', !this.model)
      this.$emit('click')
    },
  },
}
</script>
