<template>
  <x-btn
    color="red"
    prepend-icon="fa-trash"
    v-bind="$props"
    @click="confirmModal = true"
  >
    {{ $t('swag_delete') }}
    <x-confirm-modal
      v-model="confirmModal"
      :message="confirmMessage || $t('swag_areYouSureBtnTrash')"
      @yes="yes"
    />
  </x-btn>
</template>

<script>
import { VBtn } from 'vuetify/lib/components/VBtn'
import XBtn from './XBtn'
import XConfirmModal from './XConfirmModal'

export default {
  name: 'XBtnTrash',
  components: { XConfirmModal, XBtn },
  props: {
    ...VBtn.options.props,
    text: {
      type: Boolean,
      default: true,
    },
    confirmMessage: {
      type: String,
      default: null,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      confirmModal: false,
    }
  },
  methods: {
    yes() {
      this.confirmModal = false
      this.$emit('yes')
    },
  },
}
</script>
