<template>
  <div>
    <v-card-title
      v-if="!!title"
      :class="{ 'grey--text text--lighten-2': disabled }"
      class="ml-0 pl-0 headline"
    >
      {{ title }}
    </v-card-title>
    <v-card
      v-bind="$props"
      :disabled="loading || disabled"
      :loading="loading"
      outlined
      tile
      v-on="$listeners"
    >
      <template slot="progress">
        <v-progress-linear color="purple" indeterminate />
      </template>
      <slot />
    </v-card>
    <v-card flat class="mt-6">
      <template v-if="!!$slots.actions">
        <v-card-actions class="pl-0 pr-0">
          <slot name="actions" />
        </v-card-actions>
      </template>
    </v-card>
  </div>
</template>

<script>
import { VCard as card } from 'vuetify/lib/components/VCard'

export default {
  name: 'XCard',
  props: {
    ...card.options.props,
    title: {
      type: [String, Number],
      default: null,
    },
    loading: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
