<template>
  <v-dialog
    v-model="modal"
    max-width="480"
    class="elevation-0"
    persistent
    @click:outside="close"
  >
    <v-card tile elevation="0" color="error">
      <v-card-text class="text-center pt-5">
        <v-alert type="error" prominent class="mb-0">
          {{ message }}
        </v-alert>
      </v-card-text>
      <v-card-actions class="justify-center">
        <x-btn :plain="false" color="error" depressed dark @click="yes">
          {{ $t('swag_yes') }}
        </x-btn>
        <x-btn
          :plain="false"
          color="error lighten-2"
          depressed
          dark
          @click="no"
        >
          {{ $t('swag_no') }}
        </x-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import XBtn from './XBtn'
export default {
  name: 'XConfirmModal',
  components: { XBtn },
  props: {
    message: {
      type: String,
      default: 'Är du säker?',
    },
    value: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      modal: false,
    }
  },
  watch: {
    value(newVal) {
      this.modal = newVal
    },
    modal(newVal) {
      this.$emit('input', newVal)
    },
  },
  mounted() {
    this.modal = this.value
  },
  methods: {
    yes() {
      this.$emit('yes')
    },
    no() {
      this.$emit('no')
      this.modal = false
    },
    close() {
      this.$emit('close')
      this.modal = false
    },
  },
}
</script>
