<template>
  <div>
    <v-data-table
      :items-per-page="999"
      :loading="computedLoading"
      :items="computedItems"
      :headers="computedHeaders"
      v-bind="$props"
      disable-sort
      hide-default-footer
      v-on="$listeners"
    >
      <template #progress>
        <v-progress-linear color="purple" indeterminate />
      </template>
      <template v-if="searchable || filterable" #top>
        <v-row class="mr-2 ml-2 mt-1 mb-1">
          <v-col v-if="searchable" cols="12" md="4">
            <v-text-field
              v-model="searchModel"
              :placeholder="$t('swag_search')"
              autofocus
              color="purple"
              @input="searchPerformed"
            />
          </v-col>
          <v-col v-if="filterable" cols="12" md="4">
            <v-select
              v-model="filterModel"
              :items="filterItems"
              :disabled="computedLoading"
              placeholder="Filtrera resultat"
              color="purple"
              @input="filterChanged"
            />
          </v-col>
        </v-row>
        <v-divider />
      </template>
      <template
        v-for="parentSlot in parentScopedSlots"
        #[parentSlot]="{ item }"
      >
        <slot :item="item" :name="parentSlot" />
      </template>
      <template
        v-for="(formattedHeader, key) in formattedHeaders"
        #[formattedHeader.slotName]="{ item }"
      >
        <x-data-table-formatter
          :key="key"
          v-model="item[formattedHeader.value]"
          :format="formattedHeader.format"
        />
      </template>
      <template #[`item.click`]="{ item }">
        <x-btn
          :to="getUrlFromPattern(item)"
          :disabled="computedLoading"
          color="purple"
          small
          tile
          text
          @click="click(item)"
        >
          {{ toText ? toText : $t('swag_showMore') }}
          <v-icon small right> fa-arrow-right</v-icon>
        </x-btn>
      </template>
      <template #[`item.actions`]="{ item }">
        <x-data-table-action-helper
          :item="item"
          :hide-delete-button="hideDeleteButton"
          :hide-edit-button="hideEditButton"
          :hide-save-button="hideSaveButton"
          @click-edit="emitEditItem"
          @click-save="emitSaveItem"
          @select-item-for-deletion="selectItemForDeletion"
        />
      </template>
      <template #footer>
        <v-item-group v-if="!allLinksDisabled" class="text-center mt-4">
          <x-btn
            v-for="(link, key) in computedLinks"
            :key="key"
            :color="'purple'"
            :disabled="link.disabled || computedLoading"
            class="mr-2 mt-6 mb-6"
            text
            @click="emitPageChange(link.url)"
          >
            <span v-html="link.label" />
          </x-btn>
        </v-item-group>
      </template>
    </v-data-table>
    <x-confirm-modal
      v-model="confirmModal"
      :message="$t('swag_areYouSureRmRow')"
      @yes="emitDeleteItem"
      @no="resetItemDeleteState"
      @close="resetItemDeleteState"
    />
  </div>
</template>

<script>
import { VDataTable as VDT } from 'vuetify/lib/components/VDataTable'
import { httpBuildQuery, tableFormatsArr } from '../helpers'
import XBtn from './XBtn'
import XConfirmModal from './XConfirmModal'
import XDataTableActionHelper from './x-table-helpers/XDataTableActionHelper'
import XDataTableFormatter from './x-table-helpers/XDataTableFormatter'

export default {
  name: 'XDataTable',
  components: {
    XDataTableFormatter,
    XDataTableActionHelper,
    XConfirmModal,
    XBtn,
  },
  props: {
    paginationObject: {
      type: Object,
      default: null,
    },
    ...VDT.options.props,
    searchable: {
      type: Boolean,
      default: false,
    },
    filterable: {
      type: Boolean,
      default: false,
    },
    filterItems: {
      type: Array,
      default: () => [],
    },
    hideEditButton: {
      type: Boolean,
      default: false,
    },
    hideDeleteButton: {
      type: Boolean,
      default: false,
    },
    hideSaveButton: {
      type: Boolean,
      default: true,
    },
    to: {
      type: String,
      default: null,
    },
    toText: {
      type: String,
      default: null,
    },
    clickable: {
      type: Boolean,
      default: false,
    },
    actions: {
      type: Boolean,
      default: false,
    },
    defaultFilter: {
      type: [String, Number],
      default: undefined,
    },
  },
  data() {
    return {
      searchModel: '',
      filterModel: '',
      searchTimeout: null,
      typing: false,
      selectedItem: null,
      confirmModal: false,
    }
  },
  computed: {
    formattedHeaders() {
      return this.computedHeaders
        .filter((row) => {
          return tableFormatsArr.includes(row.format)
        })
        .map(({ value, format }) => {
          return {
            slotName: 'item.' + value,
            value, //
            format,
          }
        })
    },
    computedHeaders() {
      const headers = JSON.parse(JSON.stringify(this.headers))
      // Inject clickable or actions by prop
      if (this.clickable) {
        headers.push({
          text: '',
          value: 'click',
          align: 'right',
        })
      }
      if (this.actions) {
        headers.push({
          text: '',
          value: 'actions',
          align: 'right',
        })
      }
      return headers
    },
    computedItems() {
      if (!this.paginationObject) {
        return []
      }
      if (typeof this.paginationObject !== 'object') {
        return []
      }
      return this.paginationObject.data
    },
    computedLoading() {
      return !this.paginationObject || this.typing
    },
    parentScopedSlots() {
      return Object.keys(this.$scopedSlots)
    },
    currentPage() {
      if (this.paginationObject) {
        return this.paginationObject.current_page
      }
      return 0
    },
    lastPage() {
      if (this.paginationObject) {
        return this.paginationObject.last_page
      }
      return 0
    },
    path() {
      if (this.paginationObject) {
        return this.paginationObject.path
      }
      return 0
    },
    computedLinks() {
      if (!this.paginationObject) {
        return []
      }
      return [
        {
          url: this.generateUrl(1),
          label: this.$t('swag_paginationFirst'),
          disabled: this.currentPage === 1,
        },
        {
          url: this.generateUrl(this.currentPage - 1),
          label: this.$t('swag_paginationPrev'),
          disabled: this.currentPage === 1,
        },
        {
          url: null,
          label: this.currentPage + '/' + this.lastPage,
          disabled: true,
        },
        {
          url: this.generateUrl(this.currentPage + 1),
          label: this.$t('swag_paginationNext'),
          disabled: this.currentPage === this.lastPage,
        },
        {
          url: this.generateUrl(this.lastPage),
          label: this.$t('swag_paginationLast'),
          disabled: this.currentPage === this.lastPage,
        },
      ]
    },
    allLinksDisabled() {
      return (
        this.computedLinks.filter((link) => {
          return !link.disabled
        }).length === 0
      )
    },
  },
  watch: {
    filterModel(newVal) {
      this.$emit('update:defaultFilter', newVal)
    },
  },
  mounted() {
    // If no default filter is provided, see if we can set a default filter from the "filter-items" prop
    if (
      Array.isArray(this.filterItems) &&
      this.filterItems.length > 0 &&
      this.defaultFilter === undefined
    ) {
      const firstElement = this.filterItems[0]
      // The filter-items prop can contain string|number[] and {text,value}[], this test determines which type it is
      if (
        typeof firstElement === 'object' &&
        firstElement.value !== undefined
      ) {
        this.filterModel = firstElement.value
      } else {
        this.filterModel = firstElement
      }
    } else if (this.defaultFilter !== undefined) {
      this.filterModel = this.defaultFilter
    }
  },
  methods: {
    filterChanged() {
      this.emitPageChange(this.generateUrl(1))
    },
    searchPerformed() {
      this.typing = true
      clearTimeout(this.searchTimeout)
      this.searchTimeout = setTimeout(() => {
        this.typing = false
        this.emitPageChange(this.generateUrl(1))
      }, 750)
    },
    generateUrl(page) {
      return (
        this.path +
        '?' +
        httpBuildQuery({
          search: this.searchModel,
          filter: this.filterModel,
          page,
        })
      )
    },
    emitPageChange(url) {
      if (url) {
        this.$emit('page-change', url)
      }
    },
    emitEditItem(item) {
      this.$emit('click-edit', item)
    },
    emitSaveItem(item) {
      this.$emit('click-save', item)
    },
    selectItemForDeletion(item) {
      this.confirmModal = true
      this.selectedItem = item
    },
    emitDeleteItem() {
      this.$emit('click-delete', this.selectedItem)
      this.resetItemDeleteState()
    },
    resetItemDeleteState() {
      this.confirmModal = false
      this.selectedItem = null
    },
    getUrlFromPattern(item) {
      if (typeof this.to !== 'string') {
        return ''
      }
      let href = this.to
      const keyMatches = [...href.matchAll(/{([a-z_0-9-]+)}/gim)]
      // replace in href from row
      keyMatches.forEach((k) => {
        href = href.replace(k[0], item[k[1]])
      })

      return href
    },
    click(item) {
      this.$emit('click', item)
    },
  },
}
</script>
