<template>
  <div>
    <x-text-field
      :value="!modal ? value : ''"
      readonly
      :label="label"
      @click="openModal"
    />
    <v-dialog ref="dialog" v-model="modal" scrollable max-width="330">
      <v-card tile>
        <v-card-title class="justify-center">
          {{ label }}
        </v-card-title>
        <v-date-picker
          v-if="date"
          v-model="dateModel"
          no-title
          first-day-of-week="1"
          locale="sv"
          color="purple"
          full-width
          flat
          @change="dateSelected"
        />
        <v-card-text v-if="time && dateModel">
          <x-text-field
            ref="time"
            v-model="timeModel"
            :prefix="date ? dateModel : ''"
            :rules="rules"
            :label="$t('swag_timeKick')"
            hint="HH:MM"
            @keypress="isNumber"
          />
        </v-card-text>
        <v-card-actions>
          <x-btn
            v-if="time"
            :disabled="!dateIsValid"
            @click="emitChanges(dateTimeString)"
          >
            {{ $t('swag_select') }}
          </x-btn>
          <v-spacer />
          <x-btn
            color="red"
            text
            :disabled="!dateIsValid"
            @click="emitChanges(null)"
          >
            {{ $t('swag_delete') }}
          </x-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment-timezone'
import XTextField from './XTextField'
import XBtn from './XBtn'

export default {
  name: 'XDateTimePicker',
  components: { XBtn, XTextField },
  props: {
    value: {
      type: String,
      default: null,
    },
    label: {
      type: String,
      default: null,
    },
    date: {
      type: Boolean,
      default: true,
    },
    time: {
      type: Boolean,
      default: true,
    },
  },
  data() {
    return {
      dateModel: moment().format('YYYY-MM-DD'),
      timeModel: moment().format('HH:mm'),
      modal: false,
      changesMade: false,
    }
  },
  computed: {
    dateIsValid() {
      if (this.date) {
        try {
          moment(this.dateModel)
        } catch (e) {
          return false
        }
      }
      if (this.time) {
        if (!/^([01]\d|2[0-3]):([0-5]\d)$/.test(this.timeModel)) {
          return false
        }
      }
      // all successg
      return true
    },
    rules() {
      return [
        (v) =>
          /^([01]\d|2[0-3]):([0-5]\d)$/.test(v) ||
          'Ogitligt tidsformat (HH:MM)',
      ]
    },
    dateTimeString() {
      if (this.time && this.date) {
        return this.dateModel + ' ' + this.timeModel
      } else if (this.date && !this.time) {
        return this.dateModel
      } else if (!this.date && this.time) {
        return this.timeModel
      }
      return 'wtf'
    },
  },
  watch: {
    modal(newVal) {
      if (newVal) {
        this.changesMade = false
      } else if (!this.changesMade) {
        alert(this.$t('swag_noChangesMade'))
      }
    },
    timeModel(newVal) {
      if (typeof newVal === 'string') {
        if (newVal.length === 2) {
          this.timeModel += ':'
        }
      }
    },
  },
  mounted() {
    this.updateModels()
  },
  methods: {
    isNumber(val) {
      if (val.key === 'Backspace') {
        return
      }
      // allow select all override
      if (
        ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9'].includes(val.key) &&
        window.getSelection().toString().length === 5
      ) {
        return
      }
      if (typeof this.timeModel === 'string' && this.timeModel.length === 5) {
        if (val.key === 'Enter' && this.dateIsValid) {
          this.emitChanges(this.dateTimeString)
        }
        return val.preventDefault()
      }
      if (isNaN(Number(val.key))) {
        return val.preventDefault()
      }
    },
    openModal() {
      this.modal = true
      this.updateModels()
    },
    updateModels() {
      if (typeof this.value !== 'string') {
        return
      }
      // Convert value to always work with any given shitty value
      const parts = this.value.split(' ')
      if (this.time && this.date && parts.length > 1) {
        this.dateModel = parts[0]
        this.timeModel = parts[1].substr(0, 5) // keep hh:mm only
      } else if (this.date && !this.time) {
        this.dateModel = parts[0]
      } else if (!this.date && this.time) {
        this.timeModel = parts[0].substr(0, 5) // keep only hh:mm
      }
    },
    emitChanges(val) {
      this.$emit('input', val)
      this.changesMade = true
      this.modal = false
    },
    dateSelected(val) {
      if (this.time) {
        this.$nextTick(() => {
          this.$refs.time.$el.focus()
        })
      }
      if (this.date && !this.time) {
        this.emitChanges(val)
      }
    },
  },
}
</script>
