<template>
  <v-file-input
    v-bind="$props"
    persistent-hint
    color="purple"
    flat
    show-size
    v-on="$listeners"
  />
</template>

<script>
import { VFileInput } from 'vuetify/lib/components/VFileInput'

export default {
  name: 'XFileInput',
  props: VFileInput.options.props,
}
</script>
