<template>
  <v-dialog
    v-bind="$props"
    scrollable
    max-width="1024"
    class="red"
    v-on="$listeners"
  >
    <v-card :loading="loading">
      <v-card-title v-if="!!title" class="headline mb-4">
        {{ title }}
      </v-card-title>
      <v-card-text class="pt-2">
        <slot />
      </v-card-text>
      <v-card-actions class="mt-6 mb-2">
        <x-btn-save :disabled="okDisabled" @click="ok" />
        <v-spacer />
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { VDialog } from 'vuetify/lib/components/VDialog'
import XBtnSave from './xBtnSave'

export default {
  name: 'XFormModal',
  components: { XBtnSave },
  props: {
    ...VDialog.options.props,
    loading: {
      type: Boolean,
      default: false,
    },
    title: {
      type: String,
      default: null,
    },
    okText: {
      type: String,
      default: 'Spara',
    },
    cancelText: {
      type: String,
      default: 'Avbryt',
    },
    okDisabled: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    ok() {
      this.$emit('ok')
    },
    cancel() {
      this.$emit('cancel')
    },
  },
}
</script>
