<template>
  <v-container :fluid="fluid">
    <v-card flat height="100%" class="mt-6">
      <v-card-title class="display-1">
        {{ title }}
      </v-card-title>
      <v-card-subtitle v-if="subTitle" class="mb-6 mt-0">
        {{ subTitle }}
      </v-card-subtitle>
      <v-card-text v-if="breadcrumbs">
        <v-breadcrumbs :items="breadcrumbs" class="ma-0 pa-1" />
      </v-card-text>
      <v-card-text>
        <slot />
      </v-card-text>
    </v-card>
  </v-container>
</template>
<script>
export default {
  name: 'XPageContainer',
  props: {
    title: {
      type: [String, Number],
      default: null,
    },
    subTitle: {
      type: String,
      default: null,
    },
    fluid: {
      type: Boolean,
      default: false,
    },
    breadcrumbs: {
      type: Array,
      default: null,
    },
  },
  head() {
    let title = this.title
    if (Array.isArray(this.breadcrumbs)) {
      title = this.breadcrumbs
        .map((bc) => {
          return bc.text
        })
        .reverse()
        .join(' / ')
    } else if (this.subTitle) {
      title = this.title + ' - ' + this.subTitle
    }
    return {
      title,
    }
  },
  mounted() {
    // this.$router.push('/organisations/' + this.authedUser.organisation_id)
  },
}
</script>
