<template>
  <div>
    <x-card class="mb-6">
      <v-tabs v-model="tabModel" active-class="purple lighten-5" color="purple">
        <v-tabs-slider />
        <v-tab v-for="(tab, key) in computedTabs" :key="key">
          <v-icon v-if="tab.icon" left small>
            {{ tab.icon }}
          </v-icon>
          {{ tab.title }}
        </v-tab>
      </v-tabs>
    </x-card>
    <!-- :title="selectedTabTitle" -->
    <v-tabs-items v-model="tabModel">
      <v-tab-item v-for="(tab, key) in tabs" :key="key">
        <x-card v-if="!tab.noCard" :title="selectedTabTitle">
          <div :class="{ 'ml-4 mr-4 mt-5': autoMargin }">
            <slot :name="key" />
          </div>
        </x-card>
        <div v-else :class="{ 'ml-4 mr-4 mt-5': autoMargin }">
          <slot :name="key" />
        </div>
      </v-tab-item>
    </v-tabs-items>
    <v-card flat>
      <v-card-actions class="pl-0 pr-0">
        <slot
          v-if="$scopedSlots[tabModel + '_actions']"
          :name="tabModel + '_actions'"
        />
        <slot v-if="$scopedSlots" name="actions" />
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import XCard from './XCard'
export default {
  name: 'XPageContainerTabs',
  components: { XCard },
  props: {
    tabs: {
      type: Array,
      default: () => [],
    },
    autoMargin: {
      type: Boolean,
      default: false,
    },
    ignoreQuery: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      tabModel: (() => {
        if (this.ignoreQuery) {
          return 0
        }
        return this.$route.query.tab ? parseInt(this.$route.query.tab) : 0
      })(),
    }
  },
  computed: {
    computedTabs() {
      return this.tabs.map((tab, key) => {
        if (typeof tab === 'object') {
          return { ...tab, key }
        }
        return {
          title: tab,
          icon: null,
          key,
        }
      })
    },
    selectedTabTitle() {
      const titleSource = this.computedTabs.find((tab) => {
        return tab.key === this.tabModel
      })
      return titleSource ? titleSource.title : this.$t('swag_unknown')
    },
  },
  watch: {
    tabModel(newVal) {
      if (this.ignoreQuery) {
        return
      }
      this.$router.replace({ query: { tab: newVal } })
    },
  },
}
</script>

<style scoped>
.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
  /* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
