<template>
  <v-dialog
    v-model="dialog"
    v-bind="$props"
    scrollable
    :max-width="$props.maxWidth"
    class="rounded-0"
    v-on="$listeners"
  >
    <v-card :disabled="loading" :loading="loading" :title="title" tile>
      <v-card-title v-if="!!title" class="headline mb-4">
        {{ title }}
      </v-card-title>
      <v-card-text class="pt-2">
        <slot />
      </v-card-text>
      <v-card-actions class="mt-6 mb-2">
        <template v-if="!!$slots.actions">
          <slot name="actions" />
        </template>
        <template v-if="!hideDefaultActions">
          <v-spacer />
          <x-btn color="red" text @click="dialog = false">
            {{ cancelText ? cancelText : $t('swag_close') }}
          </x-btn>
        </template>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { VDialog } from 'vuetify/lib/components/VDialog'
import XBtn from './XBtn'

export default {
  name: 'XPlainModal',
  components: { XBtn },
  props: {
    ...VDialog.options.props,
    loading: {
      type: Boolean,
      default: false,
    },
    persistent: {
      type: Boolean,
      default: true,
    },
    title: {
      type: String,
      default: null,
    },
    maxWidth: {
      type: [String, Number],
      default: 1024,
    },
    cancelText: {
      type: [String, Number],
      default: null,
    },
    hideDefaultActions: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      dialog: false,
    }
  },
  watch: {
    value(newVal) {
      this.dialog = newVal
    },
    dialog(newVal) {
      this.$emit('input', newVal)
    },
  },
  mounted() {
    this.dialog = this.value
  },
}
</script>
