<template>
  <span>
    <span style="cursor: pointer" @click="modal = true">
      <slot v-if="$slots.default" />
      <template v-else>
        {{ value || '-' }}
      </template>
    </span>
    <x-plain-modal
      v-model="modal"
      max-width="512"
      :title="$t('swag_assignNewValue')"
      :persistent="false"
      :cancel-text="$t('swag_close')"
    >
      <x-text-field
        v-if="!textArea"
        v-model="model"
        autofocus
        :value="value"
        @keydown.enter="saveChanges"
      />
      <x-textarea v-if="textArea" v-model="model" autofocus :value="value" />
      <template #actions>
        <x-btn
          :label="$t('swag_ok')"
          prepend-icon="fa-check"
          @click="saveChanges"
        />
      </template>
    </x-plain-modal>
  </span>
</template>

<script>
import XPlainModal from './XPlainModal'
import XTextField from './XTextField'
import XTextarea from './XTextarea'
import XBtn from './XBtn'

export default {
  name: 'XPopUpEditor',
  components: { XBtn, XTextarea, XTextField, XPlainModal },
  props: {
    value: {
      type: [String, Number],
      default: null,
    },
    textArea: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      modal: false,
      model: (() => {
        return this.value
      })(),
    }
  },
  methods: {
    saveChanges() {
      this.modal = false
      this.$emit('input', this.model)
    },
  },
}
</script>
