<template>
  <v-btn-toggle
    v-model="model"
    class="mb-2"
    mandatory
    @change="$emit('input', model)"
  >
    <x-btn
      v-for="(item, key) in items"
      :key="key"
      :loading="loading"
      :value="item.value"
      class="purple lighten-5 purple--text"
      small
    >
      <v-icon v-if="model === item.value" left small color="purple">
        fa-check
      </v-icon>
      {{ item.text }}
    </x-btn>
  </v-btn-toggle>
</template>

<script>
import XBtn from './XBtn'
export default {
  name: 'XRadioGroup',
  components: { XBtn },
  props: {
    value: {
      type: [String, Number],
      default: null,
    },
    items: {
      type: Array,
      default: () => [],
    },
    loading: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      model: this.value,
    }
  },
  watch: {
    value(newVal) {
      this.model = newVal
    },
  },
  mounted() {
    this.model = this.value
  },
}
</script>
