<template>
  <v-select v-bind="$props" persistent-hint color="purple" v-on="$listeners" />
</template>

<script>
import { VSelect } from 'vuetify/lib/components/VSelect'

export default {
  name: 'XSelect',
  props: VSelect.options.props,
}
</script>
