<template>
  <div>
    <v-data-table
      :items-per-page="999"
      :items="items"
      :headers="computedHeaders"
      v-bind="$props"
      disable-sort
      disable-filtering
      disable-pagination
      hide-default-footer
      v-on="$listeners"
    >
      <template
        v-for="parentSlot in parentScopedSlots"
        #[parentSlot]="{ item }"
      >
        <slot :item="item" :name="parentSlot" />
      </template>
      <template
        v-for="(formattedHeader, key) in formattedHeaders"
        #[formattedHeader.slotName]="{ item }"
      >
        <x-data-table-formatter
          :key="key"
          v-model="item[formattedHeader.value]"
          :format="formattedHeader.format"
        />
      </template>
      <template #[`item.click`]="{ item }">
        <x-btn
          :to="getUrlFromPattern(item)"
          color="purple"
          small
          tile
          text
          @click="click(item)"
        >
          {{ toText ? toText : $t('swag_showMore') }}
          <v-icon small right> fa-arrow-right </v-icon>
        </x-btn>
      </template>
      <template #[`item.actions`]="{ item }">
        <x-data-table-action-helper
          :item="item"
          :hide-delete-button="hideDeleteButton"
          :hide-edit-button="hideEditButton"
          :hide-save-button="hideSaveButton"
          @click-edit="emitEditItem"
          @click-save="emitSaveItem"
          @select-item-for-deletion="selectItemForDeletion"
        />
      </template>
    </v-data-table>
    <x-confirm-modal
      v-model="confirmModal"
      :message="$t('swag_areYouSureRmRow')"
      @yes="emitDeleteItem"
      @no="resetItemDeleteState"
      @close="resetItemDeleteState"
    />
  </div>
</template>

<script>
import { VDataTable } from 'vuetify/lib/components/VDataTable'
import { tableFormatsArr } from '../helpers'
import XBtn from './XBtn'
import XConfirmModal from './XConfirmModal'
import XDataTableActionHelper from './x-table-helpers/XDataTableActionHelper'
import XDataTableFormatter from './x-table-helpers/XDataTableFormatter'

export default {
  name: 'XSimpleTable',
  components: {
    XDataTableFormatter,
    XDataTableActionHelper,
    XConfirmModal,
    XBtn,
  },
  props: {
    ...VDataTable.options.props,
    items: {
      type: Array,
      default: () => [],
      required: true,
    },
    headers: {
      type: Array,
      default: () => [],
      required: true,
    },
    hideSaveButton: {
      type: Boolean,
      default: true,
    },
    hideEditButton: {
      type: Boolean,
      default: false,
    },
    hideDeleteButton: {
      type: Boolean,
      default: false,
    },
    to: {
      type: String,
      default: null,
    },
    toText: {
      type: String,
      default: null,
    },
    clickable: {
      type: Boolean,
      default: false,
    },
    actions: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      confirmModal: false,
      selectedItem: null,
    }
  },
  computed: {
    formattedHeaders() {
      return this.computedHeaders
        .filter((row) => {
          return tableFormatsArr.includes(row.format)
        })
        .map(({ value, format }) => {
          return {
            slotName: 'item.' + value,
            value, //
            format,
          }
        })
    },
    computedHeaders() {
      const headers = JSON.parse(JSON.stringify(this.headers))
      // Inject clickable or actions by prop
      if (this.clickable) {
        headers.push({
          text: '',
          value: 'click',
          align: 'right',
        })
      }
      if (this.actions) {
        headers.push({
          text: '',
          value: 'actions',
          align: 'right',
        })
      }
      return headers
    },
    parentScopedSlots() {
      return Object.keys(this.$scopedSlots)
    },
  },
  methods: {
    emitSaveItem(item) {
      this.$emit('click-save', item)
    },
    emitEditItem(item) {
      this.$emit('click-edit', item)
    },
    selectItemForDeletion(item) {
      this.confirmModal = true
      this.selectedItem = item
    },
    emitDeleteItem() {
      this.$emit('click-delete', this.selectedItem)
      this.resetItemDeleteState()
    },
    resetItemDeleteState() {
      this.confirmModal = false
      this.selectedItem = null
    },
    getUrlFromPattern(item) {
      if (typeof this.to !== 'string') {
        return ''
      }
      let href = this.to
      const keyMatches = [...href.matchAll(/{([a-z_0-9-]+)}/gim)]
      // replace in href from row
      keyMatches.forEach((k) => {
        href = href.replace(k[0], item[k[1]])
      })

      return href
    },
    click(item) {
      this.$emit('click', item)
    },
  },
}
</script>
