<template>
  <v-switch
    v-model="model"
    v-bind="$props"
    color="purple"
    flat
    inset
    dense
    persistent-hint
    v-on="$listeners"
    @change="emitChanges"
  />
</template>

<script>
import { VSwitch } from 'vuetify/lib/components/VSwitch'

export default {
  name: 'XSwitch',
  props: {
    prependIcon: {
      type: String,
      default: null,
    },
    ...VSwitch.options.props,
  },
  data() {
    return {
      model: this.value,
    }
  },
  watch: {
    value(newVal) {
      this.model = newVal
    },
  },
  methods: {
    emitChanges(newVal) {
      this.$emit('input', newVal === true)
    },
  },
}
</script>
