<template>
  <v-text-field
    v-bind="$props"
    persistent-hint
    color="purple"
    flat
    v-on="$listeners"
  />
</template>

<script>
import { VTextField as vtf } from 'vuetify/lib/components/VTextField'

export default {
  name: 'XTextField',
  props: vtf.options.props,
}
</script>
