<template>
  <v-textarea
    v-bind="$props"
    rows="5"
    persistent-hint
    color="purple"
    v-on="$listeners"
  />
</template>

<script>
import { VTextarea } from 'vuetify/lib/components/VTextarea'

export default {
  name: 'XTextarea',
  props: VTextarea.options.props,
}
</script>
