<template>
  <v-list-item
    :exact="menuItem.exact"
    :to="menuItem.to"
    :class="{ 'pl-8': swap }"
    :disabled="disabled"
    @click="click(menuItem)"
  >
    <v-list-item-icon v-if="!swap">
      <v-icon> fa-fw {{ menuItem.icon }} </v-icon>
    </v-list-item-icon>
    <v-list-item-content>
      <v-list-item-title>
        {{ menuItem.text }}
      </v-list-item-title>
    </v-list-item-content>
    <v-list-item-icon v-if="swap">
      <v-icon> fa-fw {{ menuItem.icon }} </v-icon>
    </v-list-item-icon>
  </v-list-item>
</template>

<script>
export default {
  name: 'XAdminContainerListItem',
  props: {
    menuItem: {
      type: Object,
      default: () => {},
    },
    swap: {
      type: Boolean,
      default: false,
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    click(menuItem) {
      if (menuItem.click) {
        menuItem.click()
      }
    },
  },
}
</script>
