<template>
  <v-navigation-drawer v-model="drawer" app>
    <v-sheet height="100%" class="d-flex flex-column" :color="color">
      <slot />
      <x-admin-container-list :menu-items="menuItems" dense />
      <v-divider class="mt-auto" />
      <x-admin-container-list
        v-if="menuItems2.length > 0"
        :menu-items="menuItems2"
        dense
      />
    </v-sheet>
  </v-navigation-drawer>
</template>

<script>
import XAdminContainerList from './XAdminContainerList'
export default {
  name: 'XAdminContainerNav',
  components: { XAdminContainerList },
  props: {
    menuItems: {
      type: Array,
      default: () => [],
    },
    menuItems2: {
      type: Array,
      default: () => [],
    },
    value: {
      type: Boolean,
      default: null,
    },
  },
  data() {
    return {
      drawer: null,
    }
  },
  computed: {
    color() {
      if (this.$vuetify.theme.dark) {
        return ''
      }
      return 'grey lighten-5'
    },
  },
  watch: {
    value(newVal) {
      this.drawer = newVal
    },
    drawer(newVal) {
      this.$emit('input', newVal)
    },
  },
  mounted() {
    this.drawer = this.value
  },
}
</script>
