<template>
  <v-list v-bind="$props" nav tile class="purple--text" v-on="$listeners">
    <template v-for="(menuItem, key) in menuItems">
      <v-subheader v-if="menuItem.title" :key="key">
        {{ menuItem.title }}
      </v-subheader>
      <template v-for="(menuItemChild, key2) in menuItem.children">
        <template v-if="typeof menuItemChild.children === 'undefined'">
          <x-admin-container-list-item
            v-if="menuItem.visible && menuItemChild.visible"
            :key="key + '_' + key2"
            :menu-item="menuItemChild"
          />
        </template>
        <template v-else>
          <v-list-group
            v-if="menuItemChild.visible"
            :key="key + '_' + key2"
            v-model="menuItemChild.__active"
            :prepend-icon="'fa-fw ' + menuItemChild.icon"
            no-action
            color="purple"
            :disabled="menuItemChild.disabled"
          >
            <template #activator>
              <v-list-item-content>
                <v-list-item-title v-text="menuItemChild.text" />
              </v-list-item-content>
            </template>
            <template
              v-for="(subMenuItemChild, key3) in menuItemChild.children"
            >
              <x-admin-container-list-item
                v-if="subMenuItemChild.visible"
                :key="key + '_' + key3"
                :disabled="subMenuItemChild.disabled"
                :menu-item="subMenuItemChild"
                swap
              />
            </template>
            <v-divider class="mt-2 mb-2" />
          </v-list-group>
        </template>
      </template>
    </template>
  </v-list>
</template>

<script>
import { VList } from 'vuetify/lib/components/VList'
import XAdminContainerListItem from './XAdminContainerListItem'

export default {
  name: 'XAdminContainerList',
  components: { XAdminContainerListItem },
  props: {
    menuItems: {
      type: Array,
      default: () => [],
      required: true,
    },
    ...VList.options.props,
  },
}
</script>
